h1{
    color: white;
}

.text-overlay {
  position: absolute;
  top: 173%; 
  left: 5%;        
  color: white;
  font-size: 180%;
}

.text-uno {
  position: absolute;
  top: 205%; 
  left: 5%;        
  color: white;
  font-size: 180%;
}
.evidenziatore{
    background-color: yellow;
}