
h3{
    color: gray;
}

header{
  background-color: skyblue;
  padding-top: 32px;
  padding-left: 64px;
  padding-bottom: 24px;
}

.text-overlay {
  position: absolute;
  top: 173%; 
  left: 5%;        
  color: white;
  font-size: 180%;
}

.text-uno {
  position: absolute;
  top: 205%; 
  left: 5%;        
  color: white;
  font-size: 180%;
}
.evidenziatore{
    background-color: yellow;
}

#uno{
    color: blue;
}